# Pandas Data Analysis!

Pandas is a module or library that will be our main tool when we want to perform data analysis, reading files from different sources such as CSV, XLSX, JSON etc.

Pandas increments our possibilities because we can process big ammounts of data with some simple instructions and it contains visual generator so we can create graphs and visuals according to our findings.

Pandas is included in the modules preinstalled in your Anaconda environments and to use it in our algorithms we must import it using the following code:

In [1]:
import pandas as pd

Pandas has a very specific ways of work. We can perform analysis in our dataset by storing them in a new data Structure known as *DataFrame*.

A DataFrame can be seen as a table, because it contains rows and columns. Columns can be also known as Series, so we can say that a DataFrame is composed by Series.

Such as any other data Structure in Python we can store our DataFrames in variables, the most common for them is _df_ as a prefix or by itself.

In [2]:
df = pd.DataFrame({'column1':[1,2,3,4], 'column2':[5,6,7,8]})
df

   column1  column2
0        1        5
1        2        6
2        3        7
3        4        8

In [6]:
type(df)

pandas.core.frame.DataFrame

Use the _pd.DataFrame(data)_ function to create the DataFrame with some data given to the function. The data can have two structures:
- A dictionary of lists
- A list of dictionaries

#### Dictionary of lists
we can create a dictionary that will have each of its keys as the columns names and in the values of each key a list of all the posible values or rows in the dataframe. If we are creating more than one column all of the lists MUST HAVE THE SAME LENGTH.

This way of forming a dataframe can be seen as creating the DataFrame taking the columns of it as the main structure.

In [3]:
data = {
    'column1': [1,2,3,4,5],
    'column2': [5,6,7,8]
}
pd.DataFrame(data)

ValueError: arrays must all be same length

In [4]:
data = {
    'column1': [1,2,3,4,5],
    'column2': [5,6,7,8,9]
}
pd.DataFrame(data)

   column1  column2
0        1        5
1        2        6
2        3        7
3        4        8
4        5        9

#### List of Dictionaries
we can create a list that will contain a  dictionary that will have each of its keys as the columns names and in the values of each key  the actual value of the cell in the Dataframe.  If a key is not present in one of the dictionaries it will be filled with a NaN value.

NaN stands for Not a Number and it means that the specific place is empty, it does not contain information.

In [5]:
data = [
    {'column1': 1, 'column2': 5},
    {'column1': 2, 'column2': 6},
    {'column1': 3, 'column2': 7},
    {'column1': 4, 'column2': 8},
]
pd.DataFrame(data)

   column1  column2
0        1        5
1        2        6
2        3        7
3        4        8

In [12]:
data = [
    {'column1': 1, 'column2': 5},
    {'column1': 2, 'column2': 6},
    {'column1': 3, 'column2': 7},
    {'column1': 4},
]
pd.DataFrame(data)

   column1  column2
0        1      5.0
1        2      6.0
2        3      7.0
3        4      NaN