# 8. Booleans: The If Statement and Comparison Operators

Booleans are named after their creator, a mathematician named George Boole.

In Georgeâ€™s algebra, he used ones to represent the value true and zeros to represent false.

In [1]:
has_taco = "taco" in "catacombs"

In [2]:
has_taco

True

In [3]:
bool(1)

True

In [4]:
bool(0)

False

In [5]:
bool(42)

True

In [6]:
bool("burrito")

True

In [7]:
bool("")

False

Emptiness is Falsey

### Boolean operators and, or and not

In [8]:
not True

False

In [9]:
not False

True

In [10]:
True and True

True

In [11]:
True and True and True

True

In [12]:
True and True and True and False

False

In [13]:
False or True

True

In [14]:
False or False

False

In [15]:
(False or False or True) and (True and False)

False

In [16]:
(False or False or True) and not (True and False)

True

### Comparison Operators
There are **6** coomparators in Python:<br />
`<` &nbsp;&nbsp;less than<br />
`<=` less than or equal to<br />
`==` equal to<br />
`>=` greater than or equal to<br />
`>`  &nbsp;&nbsp;greater than<br />
`!=` not equal to<br />

In [17]:
7 > 4

True

In [18]:
7 < 4

False

In [19]:
7 >= 4

True

### Chaining Comparisons

In [21]:
x = 3

In [22]:
1 <= x <= 5

True

In [23]:
x = 10

In [24]:
1 <= x <= 5

False

## The conditional puzzle

### Instructions

* Look through the examples and figure out what line will print.

* Do not run the code at first, see if you can follow the thought process and guess.

In [25]:
# 1.
x = 5
y = 10
if 2 * x > 10:
    print("Question 1 works!")
else:
    print("oooo needs some work")

oooo needs some work

In [26]:

# 2.
x = 5
y = 10
if len("Dog") < x:
    print("Question 2 works!")
else:
    print("Still missing out")

Question 2 works!

In [27]:
# 3.
x = 2
y = 5
if (x ** 3 >= y) and (y ** 2 < 26):
    print("GOT QUESTION 3!")
else:
    print("Oh good you can count")

GOT QUESTION 3!

In [29]:
# 4.
name = "Pepe"
group_one = ["Juan", "Rose", "Susan"]
group_two = ["Geroge", "Paulo", "Rodrigo"]
group_three = ["Carla", "Dan", "Jenny"]

if name in group_one:
    print(name + " is in the first group")
elif name in group_two:
    print(name + " is in group two")
elif name in group_three:
    print(name + " is in group three")
else:
    print(name + " does not have a group")

Pepe does not have a group

In [31]:
# 5.
height = 66
age = 16
adult_permission = True

if (height > 70) and (age >= 18):
    print("Can ride all big coasters")
elif (height > 65) and (age >= 18):
    print("Can ride medium coasters")
elif (height > 60) and (age >= 18):
    print("Can ride little coasters")
elif ((height > 50) and (age >= 18)) or ((adult_permission) and (height > 50)):
    print("Can ride bumper cars")
else:
    print("You can ride the Ferris Wheel. ")

Can ride bumper cars